
/* 🌌 Section */
.contact-section {
  min-height: 100vh;              /* 🔥 full screen height */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* 🔥 push footer to bottom */
  padding: 10px 40px;
  background: radial-gradient(circle at center, #0f172a, #020617);
  border-top: 1px solid rgba(124, 58, 237, 0.4); /* purple line */
}
.gradient-text {
  background: linear-gradient(90deg, #60a5fa, #a78bfa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* Title */
.contact-title {
  font-size: 40px;
  margin-bottom: 10px;
  color: #22c55e;
  letter-spacing: 2px;
}

/* Container */
.contact-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

/* Info box */
.contact-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
}

/* Each item */
.contact-item {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 15px;
}

/* Icon style */
.contact-item svg {
  font-size: 15px;
  background: #1e293b;
  padding: 15px;
  border-radius: 50%;
}

/* Social icons */
.social-icons {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.social-icons svg {
  font-size: 20px;
  background: #1e293b;
  padding: 15px;
  border-radius: 50%;
  transition: 0.3s;
}

/* Hover effect */
.social-icons svg:hover {
  background: #7c3aed;
  transform: scale(1.1);
}
.contact-section::after {
  transform: rotate(90deg);
  color: #7c3aed;
  font-weight: bold;
  letter-spacing: 1px;
  /* opacity: 0.7; */
}

/* footer */
/* Bottom line */
.contact-footer {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid rgba(124, 58, 237, 0.4); /* purple line */
  text-align: left;
}

/* Text style */
.contact-footer p {
  color: #9ca3af;
  font-size: 16px;
}

/* Highlight name */
.contact-footer span {
  color: #22c55e; /* green like image */
  font-weight: 500;
}
.contact-footer span {
  color: #22c55e;
  font-weight: 500;
  text-shadow: 0 0 10px rgba(34,197,94,0.6);
}
.social-icons a,
.social-icons a:visited,
.social-icons a:hover,
.social-icons a:active {
  color: inherit;
}                      